apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-credentials
  namespace: myapp
  labels:
    app: rabbitmq
type: Opaque
stringData:
  RABBITMQ_DEFAULT_USER: replace-user
  RABBITMQ_DEFAULT_PASS: replace-password
  RABBITMQ_DEFAULT_VHOST: /
  RABBITMQ_USERNAME: replace-user
  RABBITMQ_PASSWORD: replace-password
  RABBITMQ_VHOST: /
  RABBITMQ_ADDRESSES: amqp://replace-user:replace-password@rabbitmq:5672/
