apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: myapp
  labels:
    app: minio
type: Opaque
stringData:
  MINIO_ROOT_USER: "<MINIO_ROOT_USER>"
  MINIO_ROOT_PASSWORD: "<MINIO_ROOT_PASSWORD>"
  AIRFLOW_LOGS_BUCKET: "airflow-logs"
