apiVersion: v1
kind: Secret
metadata:
  name: metamodel-airflow-s3-logging
  namespace: myapp
  labels:
    app: metamodel-orchestration
type: Opaque
stringData:
  AIRFLOW_CONN_AWS_DEFAULT: "aws://<MINIO_ROOT_USER>:<MINIO_ROOT_PASSWORD>@/?endpoint_url=http%3A%2F%2Fminio%3A9000&region_name=us-east-1"
