apiVersion: v1
kind: Secret
metadata:
  name: metamodel-db-credentials
  namespace: myapp
  labels:
    app: metamodel-orchestration
type: Opaque
stringData:
  MYAPP_DB_URL: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@postgres:5432/prediction_db
  AIRFLOW_CONN_POSTGRES_MYAPP: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@postgres:5432/prediction_db
